body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

header {
  background-color: #f2f2f2;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.pi {
    color: rgb(206, 206, 79);
}

main {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

main img {
  width: 400px;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    flex-shrink: 0;
  }